<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Indic Scene-Text Recognizer</title>

    <link
      rel="stylesheet"
      href="{{url_for('static',filename = 'css/style.css')}}"
    />
    <script src="{{url_for('static',filename = 'js/script.js')}}"></script>
  </head>
  <div class="mainbody">
    <header>
      <div class="titlebox">
        <div class="title">
          <h1>Indic Scene-Text Recognizer</h1>
        </div>
        <div class="inputbutton">
          <input
            type="file"
            id="myinputimage"
            style="display: none"
            accept="image/*"
            onchange="handleFileSelect(event)"
          />
          <button
            onclick="document.getElementById('myinputimage').click()"
            id="inputimagebutton"
          >
            Select Image
          </button>
          <!-- <h1 class="url"></h1> -->
        </div>
      </div>
      <div class="titleimage">
        <img
          src="{{url_for('static',filename = 'images/pngwing.com (1).png')}}"
        />
      </div>
    </header>
    <footer>
      <div
        id="preimg"
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          /* margin-left: 5%; */
        "
      >
        <img
          id="img1"
          src="{{url_for('static',filename = 'images/4.jpg')}}"
          alt=""
          onclick="process_pre_image(document.getElementById('img1'))"
          width="100"
          height="100"
          style="padding: 2%"
        />
        <!-- <img
          id="img2"
          src="{{url_for('static',filename = 'images/3.jpg')}}"
          alt=""
          onclick="process_pre_image(document.getElementById('img2'))"
          width="100"
          height="100"
        /> -->
        <img
          id="img2"
          src="{{url_for('static',filename = 'images/2.jpg')}}"
          alt=""
          onclick="process_pre_image(document.getElementById('img2'))"
          width="100"
          height="100"
          style="padding-right: 2%"
        />
        <img
          id="img3"
          src="{{url_for('static',filename = 'images/1.jpg')}}"
          alt=""
          onclick="process_pre_image(document.getElementById('img3'))"
          width="100"
          height="100"
          style="padding: 2%"
        />
      </div>
      <img
        src=""
        id="originalimage"
        style="
          max-width: 300px;
          max-height: 300px;
          display: none;
          margin-left: 20%;
          margin-top: 20%;
          margin-top: 20px;
        "
      />
      <!-- <img src="" id="processedimage" style="max-width: 90%; max-height: 90%" /> -->
      <button
        class="processbutton"
        id="processbutton"
        onclick="process_image()"
      >
        PROCESS
      </button>
      <!-- <button class="renderbutton" id="renderbutton" onclick="process_text()">
        RENDER
      </button> -->
    </footer>
  </div>
  <div class="loading" id="loading">
    <h1>Loading......</h1>
  </div>
</html>
