<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        background-color: blueviolet;
        margin: 0%;
        padding: 0%;
        font-family: sans-serif;
        height: fit-content;
        width: fit-content;
      }
      .images {
        display: flex;
        flex-direction: row;
      }
    </style>
  </head>
  <body>
    <div class="images">
      <img
        src="data:image/jpeg;base64,{{input_img_data}}"
        alt="Detected"
        style="
          margin-top: 20%;
          margin-left: 40%;
          height: 300px;
          width: 400px;
          padding: auto;
        "
      />

      <img
        src="data:image/jpeg;base64,{{output_img_data}}"
        alt="Recognized"
        style="
          margin-top: 20%;
          margin-left: 10%;
          height: 300px;
          width: 400px;
          padding: auto;
        "
      />
    </div>
  </body>
</html>
